html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 16px;
  /* background: #d8d8dc; */
}

.container {
  width: 100%;
  height: max-content;
  max-width: 1720px;
  border: 1px solid #000000;
  margin: 2em;
}
.box-row {
  display: flex;
  flex-wrap: wrap;
}
.box-container {
  flex-basis: 30%;
  flex-grow: 1;
  border: 1px solid #607d8b;
  padding: 1em;
}
.box-heading h3 {
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
  color: #3f51b5;
}
.box-footer div {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  font-size: 0.8em;
  position: relative;
  padding: 0.5em;
}
.box-footer div lable {
  position: absolute;
  right: 0px;
}
/* For tablet screens */
@media (max-width: 768px) {
  .box-container {
    flex-basis: 50%;
  }
  .container {
    max-width: fit-content;
    margin: 0.8em;
  }
}
/* For mobile screens */
@media (max-width: 600px) {
  .box-container {
    flex-basis: 100%;
  }
  .container {
    max-width: fit-content;
    margin: 0.8em;
  }
}
/*
rem == body-->font --> 16px
em == parentelement-->font --> 18px
*/
