html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.container {
  /* max-width: 1720px; */
  max-width: 1720px;
  border: 1px solid white;
  }

header{
  /* background-color: tomato; */
  text-align: center;
  padding: 20px;
  height: 100px;
}

#header_image{
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

#navbar{
  /* background-color: brown; */
  padding: 10px;
  border: 1px solid white;
}

#brand{
  padding: 5px;
  font-size: 18px;
  color: navy;
}

#navbar a {
  padding: 10px;
  text-decoration: none;
  display: inline;
}

#home{
  margin-left: auto;
}

.nav:hover{
  color:white;
  background-color: grey;
}

#div{
  display: flex;
  height: 350px;
}

#aside{
  /* background-color: yellow; */
  border: 1px solid white;
  flex-grow: 1;
  flex-shrink: 1;
}

#aside li{
  padding: 5px;
  list-style-type: none;
  text-decoration: none;
}

#aside li:nth-child(odd){
  color: chocolate;
  font-size: 20px;
}

#main{
  /* background-color: green; */
  border: 1px solid white;
  flex-grow: 8;
  flex-shrink: 8;
  text-align: center;
}

footer{
  /* background-color: tomato; */
  text-align: center;
  padding: 10px;
  font-size: 20px;
  height:150px;
  line-height: 100px;
}

footer a{
  color: black;
  margin-left: 10px;
  text-decoration: none;
}

footer a:hover{
  color: white;
}

@media (max-width: 1366px) {
  html, body{
    width: 100%;
    height: 100%;
  }
  .container {
    margin: 0.8em;
    width: 100%;
    height: 100%;
  }
  #navbar{
    font-size: medium;
  }
}

@media (max-width: 1024px) {
  html, body{
    width: 100%;
    height: 100%;
  }
  .container {
    margin: 0.8em;
    width: 100%;
    height: 100%;
  }
  #navbar{
    font-size: medium;
  }
  
}

@media (max-width: 823px) {
  html, body{
    width: 100%;
    height: 100%;
  }
  .container {
    margin: 0.8em;
    width: 100%;
    height: 100%;
  }
  #navbar{
    font-size: x-small;
  }
  #div{
    font-size: 20px;
  }
  ul{
    padding-left: 10px;
  }
  #aside li{
    padding-left: 0px;
  }
  
}

@media (max-width: 640px) {
  html, body{
    width: 100%;
    height: 100%;
  }
  .container {
    margin: 0.8em;
    width: 100%;
    height: 100%;
  }
  #navbar{
    font-size: xx-small;
  }
  #div{
    font-size: 15px;
  }
  ul{
    padding-left: 5px;
  }
  #aside li{
    padding-left: 0px;
  }
}

@media (max-width: 640px) {
  html, body{
    width: 100%;
    height: 100%;
  }
  .container {
    margin: 0.8em;
    width: 100%;
    height: 100%;
  }
  #navbar{
    font-size: xx-small;
  }
  #div{
    font-size: 15px;
  }
  ul{
    padding-left: 5px;
  }
  #aside li{
    padding-left: 0px;
  }
}

@media (max-width: 350px) {
  html, body{
    width: 100%;
    height: 100%;
  }
  .container {
    margin: 0.8em;
    width: 100%;
    height: 100%;
  }
  #navbar{
    font-size: 9px;
  }
  #div{
    font-size: 10px;
  }
  ul{
    padding-left: 3px;
  }
  #aside li{
    padding-left: 0px;
  }
}
