html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 16px;
}

.container {
    height: max-content;
    max-width: 1720px;
    border: 1px solid #000000;
    margin: 2em;
  }

  header{
      background-color: gray;
      text-align: center;
      padding: 20px;
      height: 60px;
  }

  /* nav a{
    display: flexbox;
    justify-content: space-around;
  } */

  #navbar{
      padding: 20px;
      border: 1px solid black;
  }

  #navbar a {
      margin: 140px;
      padding: 10px;
      text-decoration: none;
      display: inline;
  }

  /* #navbar > a:hover {
    background-color:white;
  } */

  #div{
    display: flex;
  }

#aside{
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
}  

/* .flex{

} */

#aside li{
    padding: 5px;
    list-style-type: none;
}

#main{
  border: 1px solid black;
  flex-grow: 2;
  flex-shrink: 2;
  text-align: center;
  line-height: 50px;
}

footer{
    background-color: gray;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

@media (max-width: 1024px) {
  .container {
    max-width: fit-content;
    margin: 0.8em;
  }
  #navbar a {
    margin: 50px;
    padding: 10px;
    text-decoration: none;
    display: inline;
}
}

@media (max-width: 768px) {
  .container {
    max-width: fit-content;
    margin: 0.8em;
  }
  #navbar a {
    margin: 50px;
    padding: 10px;
    text-decoration: none;
    display: inline;
}
}

@media (max-width: 670px) {
  .container {
    max-width: fit-content;
    margin: 0.8em;
  }
    #navbar a {
      margin: 90px;
      padding: 10px;
      text-decoration: none;
      display: inline;
  }
}
